div.loadingContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.loadingContainer .loading{
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 50%;
    top: 50%;

    animation: animate 2s infinite;
}

//Avimando o Loading do button
@keyframes animate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

div.container{
    width: 100%;
    height: 100vh;
}

main.containerBody{
    width: 100%;
    height: 79.5vh;
    margin-top: .5vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}


// RIGTH CONTAINER
main.containerBody div.rigthContainer{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    h1{
        color: var(--white);
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        text-shadow: 2px 2px 4px var(--gray-900);
    }

}

div.rigthContainer div.filterContainer{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

div.filterContainer div.filter{
    display: flex;
    flex-flow: row;
    justify-content: center;
    height: 40px;
}

div.filterContainer div.filter button.buttonBuscar{
    height: 40px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    max-width: 600px;
    background-color: var(--green-700);
    border: 0;
    color: var(--white);
    border-radius: 0.5rem;
    transition: filter 0.2s;

    //Avimando o Loading do button
    &[disabled]{
        cursor: not-allowed;
        svg{
            animation: animate 2s infinite;
        }
    }

    &:hover{
        filter: brightness(0.7);
    }
}

form.formOrder{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    //height: 100%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #F0D8B7;

    box-shadow: 2px 2px 4px var(--white);
    overflow-y: auto;

    &::-webkit-scrollbar{
        width: 5px; /* Largura da barra de rolagem */
    }

    &::-webkit-scrollbar-track {
        background: var(--dark-900); /* Cor de fundo da barra de rolagem */
    }
}

form.formOrder div.inputData{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 2px solid var(--dark-900);
    margin-bottom: 2rem;

    span{
        max-width: 400px;
        height: 40px;
        color: var(--dark-900);
        margin: 0 10px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
    }
}

input.inputName{   
    width: 400px;
    height: 40px;
    border: 1px solid var(--green-700);
    border-radius: 0.5rem;
    background-color: var(--dark-700);
    color: var(--white);
    padding: 1rem;
    margin: 0 10px;
    margin-bottom: 1rem;
}

form.formOrder div.inputDataEdit{
    display: flex;
    flex-direction: column;
}

div.desconto{
    display: flex;
    flex-flow: row;
    align-items: center;

    label{
        height: 40px;
        color: var(--dark-900);
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
        margin-left: 15px;
    }
}

form.formOrder div.filter{
    display: flex;
    flex-flow: row;

    button{
        height: 40px;
    }
}

select.selectInput{
    width: 300px;
    height: 40px;
    border: 1px solid var(--green-700);
    border-radius: 0.5rem;
    background-color: var(--dark-700);
    color: var(--white);
    
    margin: 0 10px;
    margin-bottom: 1rem;
}
