/*
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root{
    --white: #FFF;
    --black: #000;

    --white-700: #F2F2F2;
    --dark-900: #0D0D0D;
    --dark-700:#16161a;
    --gray-900: #404040;
    --gray-700: #8C8C8C;
    --gray-300: #D9D9D9;
    --green-700: #088C7F;
    --red-900: #FF3F4B;
    --blue-700: #184C78;
}

button{
    cursor: pointer;
}

body{
    background-color: var(--dark-900);
}

a{
    color: inherit;
    text-decoration: none;
}

input, textarea{
    text-transform: uppercase;
}

h1, h2, h3{
    color: var(--dark-900);
    font-family: 'Roboto', sans-serif
}

@media (max-width: 720px){
    html{
        font-size: 87.5%;
    }
}

@media (max-width: 720px){
    html{
        font-size: 93.75%;
    }
}
