main.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main.container img{
    max-width: 180px;
    max-height: 150px;
}

main.container div.login{
    margin-top: 1rem;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.5rem;

    form{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    form button{
        height: 40px;
        font-size: 1.2rem;
    }
}