div.loadingContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.loadingContainer .loading{
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 50%;
    top: 50%;

    animation: animate 2s infinite;
}

//Avimando o Loading do button
@keyframes animate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

div.container{
    width: 100%;
    height: 100vh;
}

main.containerBody{
    width: 100%;
    height: 79.5vh;
    margin-top: .5vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}


// RIGTH CONTAINER
main.containerBody div.rigthContainer{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    h1{
        color: var(--white);
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        text-shadow: 2px 2px 4px var(--gray-900);
    }

}

form.formCliente{
    max-width: 90%;
    height: 100%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;

    box-shadow: 2px 2px 4px var(--white);
    overflow-y: auto;

    &::-webkit-scrollbar{
        width: 5px; /* Largura da barra de rolagem */
    }

    &::-webkit-scrollbar-track {
        background: var(--dark-900); /* Cor de fundo da barra de rolagem */
    }
}

form.formCliente input.inputName{   
    width: 60%;
    height: 40px;
    border: 1px solid var(--green-700);
    border-radius: 0.5rem;
    background-color: var(--dark-700);
    color: var(--white);
    padding: 1rem;
    margin: 0 10px;
    margin-bottom: 1rem;
}

form.formCliente div.inputsBasicData{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

form.formCliente div.inputsBasicData div.inputNascimento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    label{
        color: var(--white);
        font-family: 'Ubuntu', sans-serif;
        margin-top: -10px;
        margin-bottom: 15px;
        text-shadow: 2px 2px 4px #3b3838;
    }
}

form.formCliente div.inputsBasicData select.selectInput{
    height: 40px;
    border: 1px solid var(--green-700);
    border-radius: 0.5rem;
    background-color: var(--dark-700);
    color: var(--white);
    
    margin: 0 10px;
    margin-bottom: 1rem;
}

form.formCliente label.labelAvatar{
    width: 20%;
    height: 200px;
    background-color: var(--dark-700);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--green-700);
    margin-bottom: 1rem;
    cursor: pointer;
    position: relative;

    span{
        z-index: 999;
        position: absolute;
        opacity: 0.7;
        transition: all 0.9s;
    }

    &:hover{
        opacity: 1;
        transform: scale(1.1);
    }

    input{
        display: none;
    }
}

form.formCliente label.labelAvatar img.previw{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0.5rem;
}

form.formCliente div.buttonForm{
    width: 100%;
    margin-bottom: 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form.formCliente h3{
    color: var(--white);
    margin-bottom: 10px;
    margin-left: 1rem;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 4px var(--gray-900);
}

main.containerBody div.rigthContainer span{
    color: var(--red-900);
    margin-top: 2rem;
    font-size: max(18px, 1.2vw);
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 2px 2px 4px #2b2929;
}