input.input{
    height: 40px;
    border: 1px solid var(--green-700);
    border-radius: 0.5rem;
    background-color: var(--dark-700);
    color: var(--white);
    padding: 1rem;
    margin: 0 10px;
    margin-bottom: 1rem;
}

input.input::placeholder{
    color: rgba(255,255,255,0.8);
}

textarea.textArea{
    width: 95%;
    height: 5rem;
    border: 1px solid var(--green-700);
    border-radius: 0.5rem;
    background-color: var(--dark-700);
    color: var(--white);
    padding: 1rem;
    margin: 0 10px;
    margin-bottom: 1rem;
}

