div.loadingContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.loadingContainer .loading{
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 50%;
    top: 50%;

    animation: animate 2s infinite;
}

//Avimando o Loading do button
@keyframes animate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

div.container{
    width: 100%;
    height: 100vh;
}

main.containerFavorit{
    width: 100%;
    height: 79.5vh;
    margin-top: .5vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}


main.containerFavorit div.rigthContainer{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    h1{
        color: var(--white);
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        text-shadow: 2px 2px 4px var(--gray-900);
    }
}
