div.loadingContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.loadingContainer .loading{
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 50%;
    top: 50%;

    animation: animate 2s infinite;
}

//Avimando o Loading do button
@keyframes animate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

div.container{
    width: 100%;
    height: 100vh;
}

main.containerBody{
    width: 100%;
    height: 79.5vh;
    margin-top: .5vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}



// RIGTH CONTAINER
main.containerBody div.rigthContainer{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}

div.rigthContainer form.container{
    width: 98%;
    height: 98%;

    background-color: var(--gray-900);
}

form.container div.nameContainer{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;

    label{
        margin-left: 20px;
        color: var(--white);
        font-size: 18px;
        font-family: 'Ubuntu', sans-serif;
    }  

}

form.container div.cartContainer{
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}

div.cartContainer div.productConteiner{
    width: 35%;
    //height: 100%;

    h5{
        margin-top: 20px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 10px;
    }
}

div.productConteiner div.product{
    display: flex;
    flex-flow: row wrap;
}

div.product div.inputContainer{
    display: flex;
    flex-direction: column;
}

div.inputContainer div.input{
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    input{
        margin-left: -5px;
        margin-bottom: 12px;
    }
}

div.input label.labelInput{
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 3px;
}

div.productConteiner div.containerMenu{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;
    background-color: var(--white);
    width: 95%;
    border: 2px solid var(--green-700);
    border-radius: 0.4rem;
}

div.productConteiner div.menu{
    display: flex;
    flex-direction: column;

    span{
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        margin: 5px 15px;
    }
}

div.product img.imgProduct{
    border: 2px solid var(--green-700);
    padding: 3px; 
    max-width: 100%;
    height: auto;
    display: block;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

//---------- CUPOM FISCAL --------------

div.cartContainer div.taxCouponConteiner{
    width: 60%;
    height: 100%;
    border: 2px solid var(--green-700);
    border-radius: 0.4rem;
    background-color: #F0D8B7;
}

div.taxCouponConteiner div.taxCuponTitle{
    width: 100%;
    height: 30px;
    background: linear-gradient(rgba(7,140,49,55) 0%, rgba(6,89,2,35)50%, rgba(6,89,2,35)100%);
    border-bottom: 2px solid var(--green-700);;
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
        font-family: 'Ubuntu', sans-serif;
        font-size: 18px;
        color: var(--white);
    }
}

div.taxCouponConteiner div.taxCuponHeader{
    width: 100%;
    height: 20px;
    border-top: 1px dashed;
    border-bottom: 1px dashed ;
    margin-top: 5px;
    padding: 0 10px;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    span{
        width: 100px;
        display: flex;
        justify-content: end;
        margin-right: 5px;
        font-size: 12px;
    }
}

div.taxCouponConteiner article.addProduct{
    width: 100%;
    height: 85%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    //background-color: aqua;
}

article.addProduct ol.list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px var(--green-700);

    overflow-y: auto;

    &::-webkit-scrollbar{
        width: 0; /* Largura da barra de rolagem */
    }

    li{
        width: 100%;
        list-style: none;       
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-bottom: 5px;
        
        span{
            width: 100px;
            display: flex;
            justify-content: end;
            margin-right: 5px;
            font-size: 12px;
        }

        &:hover {
            color: var(--green-700);
        }
    }
}

ol.list li span.codProduct{
    display: inline-block;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
        max-width: none;
        white-space: normal;
        overflow: visible;
        text-overflow: unset;

        color: var(--green-700);
    }
}

article.addProduct div.valueOrderContainer{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    margin-top: 5px;
}

div.valueOrderContainer div.valueItens, div.totalValue{
    width: 150px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--green-700);
    border-radius: 0.4rem;
    padding: 0 10px;
    margin-right: 20px;

    position: relative;
}

div.valueItens label.itensLabel{
    position: absolute;
    left: 0;
    top: -10px;
    background-color: #F0D8B7;
    color: var(--gray-900);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

div.valueItens span.itensValue{
    color: var(--gray-900);
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

div.valueOrderContainer div.totalValue{
    width: 350px;
}